/* En App.css o donde manejes tus estilos globales */
@font-face {
  font-family: "Merriweather-Light";
  src: url("./assets/fonts/Merriweather-Light.ttf") format("truetype");
}

body {
  margin: 0;
  background: rgb(25, 16, 8);
  color: white;
  font-family: "Merriweather-Light", sans-serif;
  height: 100vh;
}

.App {
  width: 100%;
  height: 100vh; /* Ocupa todo el alto de la ventana */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Para evitar el desbordamiento */
}

#root {
  height: 90.9vh;
}
